<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, User::GENDERS.collect { |gender| [gender, gender] }, include_blank: false  %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= text_field_tag "user[address][county]" %>
  </div>
  <div class="field">
    <%= f.label :address_1 %><br>
    <%= text_field_tag "user[address][address_1]" %>
  </div>
  <div class="field">
    <%= f.label :address_2 %><br>
    <%= text_field_tag "user[address][address_2]" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
