<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>
<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>
<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>
<p>
  <strong>County:</strong>
  <%= @user.address[:county] %>
</p>
<p>
  <strong>Address 1:</strong>
  <%= @user.address[:address_1] %>
</p>
<p>
  <strong>Address 2:</strong>
  <%= @user.address[:address_2] %>
</p>

<div ng-controller="userNavigationController">
  <user-form uid="'<%= @user.id %>'" ng-show="showUserForm"></user-form>
  <a ng-click="showForm()">Edit</a> |
</div>

<%= link_to 'Back', users_path %>
