<form name="userForm" class="edit_user" accept-charset="UTF-8" ng-controller="UsersEditController" ng-submit="userForm.$valid && updateUser()" novalidate>
  <div class="field">
    <label for="user_firstname">Firstname</label><br>
    <input type="text" name="user[firstname]" id="user_firstname" ng-model="user.firstname" required />
  </div>
  <div class="field">
    <label for="user_lastname">Lastname</label><br>
    <input type="text" name="user[lastname]" id="user_lastname" ng-model="user.lastname" required />
  </div>
  <div class="field">
    <label for="user_age">Age</label><br>
    <input type="number" name="user[age]" id="user_age" ng-model="user.age" ng-pattern="positiveNumbers" />
  </div>
  <div class="field">
    <label for="user_gender">Gender</label><br>
    <select name="user[gender]" id="user_gender" ng-model="user.gender">
      <option value="male">male</option>
      <option value="female">female</option>
      <option value="others">others</option>
    </select>
  </div>
  <div class="field">
    <label for="user_county">County</label><br>
    <input type="text" name="user[address][county]" id="user_address_county" ng-model="user.address.county" />
  </div>
  <div class="field">
    <label for="user_address_1">Address 1</label><br>
    <input type="text" name="user[address][address_1]" id="user_address_address_1" ng-model="user.address.address_1" />
  </div>
  <div class="field">
    <label for="user_address_2">Address 2</label><br>
    <input type="text" name="user[address][address_2]" id="user_address_address_2" ng-model="user.address.address_2" />
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="Update User" />
  </div>
</form>
