// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-lint {
  &.ng-invalid.ng-dirty {
    border: 2px solid red;
  }
  &.ng-valid.ng-dirty {
    border: 2px solid green;
  }
}

#user_firstname, #user_lastname, #user_age {
  @include border-lint;
}

